@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

html {
	height: 100%;
	position: relative;
}

body {
	background-color: #f1f1f1;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* Header starts */

.nav {
	display: block;
	margin: 0 0 0 -2vw;
	padding: 1.7%;
	position: fixed;
	width: 100%;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
	text-align: center;
	z-index: 1000000;
}


/*forskjellig nav farger start */
.one {
	background-color:#3866B8;
}

.two {
	background-color:#515151;
}

.three {
	background-color:#0D0E5B;
}

.four {
	background-color:#0F2D0B;
}

/*forskjellig nav farger ends */
nav a {
	transition:0.2s all ease-in-out;
	text-decoration: none;
	padding: 3%;
	margin: 0 4%;
	text-align: center;
	border-bottom:2px solid rgba(0,0,0,0);
	padding-bottom: 1%;
	color: white;
	font-size: 16px;
	opacity: 0.5;
}

nav a.current {
	border-bottom:2px solid white;	
	opacity: 1;
}



nav a:hover {
	transition:0.2s all ease-in-out;
	border-bottom:2px solid white;	
	opacity: 1;
}

.logo {
	width: 19vh;
	margin-bottom: -13vh;
}
/* Header ends */

/* Index starts */
.index {
	text-align: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 10;
	background-image: url(../src/stickFighting.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.text {
	width: 100%;
}

.index h1 {
	font-size: 8vh;
	color: white;
	text-shadow: 3px 3px #313131;
}

.index h2 {
	font-size: 6vh;
	color: white;
	text-shadow: 3px 3px #313131;
}

.buttondown {
	opacity: 1;
	-webkit-transition: all .5s ease-in 3s;
	transition: all .5s ease-in 3s;
	width: 5vw;
	z-index: 2;
	-webkit-animation: bounce 2s infinite 2s;
	animation: bounce 2s infinite 2s;
}

.scroll-down {
	margin: 40vh auto 0;
	position: absolute;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}


/* Index ends */

/* Wrapper starts */

#wrapperOne {
	height: 100vh;
	width: 85%;
	margin: 0 auto;
}

#wrapperOne p{
	margin-top: 3vh;
}

.video {
	width: 35vw;
	height: 24vw;
	float: left;
	margin: 2vw 2vw 2vw 0;
}

.wrapper {
	height: 100%;
	width: 100%;
	padding-top: 25vh;
}

.wrapper p {
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 2vh;
}

.picture1Historie {
	height: 40vh;
	width: auto;
	margin-left: 10vw;
	margin-right: 4vw;
	margin-top: 4vh;
	margin-bottom: 4vh;
	float: left;
}

.picture2Historie {
	height: 40vh;
	width: auto;
	margin-left: 4vw;
	margin-right: 10vw;
	margin-top: 4vh;
	margin-bottom: 10vh;
	float: right;
}


.overskriftHistoire {
	margin-top: 4vh;
	margin-bottom: 4vh;
	margin-left: 10vw;
	margin-right: 10vw;
}

#calender {
	padding-top: 24vh;
}

.table {
	
}

/* Wrapper ends */

/* Footer starts*/
.footer {
	bottom: 0;
	margin-top: 10vh;
	height: 10vh;
	width: 100%;
	position: relative;
	z-index: 100000000;
	clear: both;
}

.footer p {
	padding: 20px;
	color:#DDDBDB;
}

/* Footer Ends*/
/* Wrapper ends */

@media screen and (max-width:70vw) {
	
	body {
		back
	}
}