@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

html {
	font-size: calc(1em + 0.2vw);
}

body {
	background-color: #f1f1f1;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* Header starts */

#navbar {
	transition: top 0.5s ease-in-out;
}

.nav {
	display: block;
	margin: 0 0 0 -2vw;
	padding: 1.7%;
	position: fixed;
	width: 100%;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
	text-align: center;
	z-index: 1000000;
	transition: top 0.2s ease-in-out;
}


/*forskjellig nav farger start */
.one {
	background-color:#3866B8;
}

.two {
	background-color:#515151;
}

.three {
	background-color:#0D0E5B;
}

.four {
	background-color:#0F2D0B;
}

/*forskjellig nav farger ends */
nav a {
	transition:0.2s all ease-in-out;
	text-decoration: none;
	padding: 3%;
	margin: 0 4%;
	text-align: center;
	border-bottom:2px solid rgba(0,0,0,0);
	padding-bottom: 1%;
	color: white;
	opacity: 0.5;
	font-size: 1em;
}

nav a.current {
	border-bottom:2px solid white;	
	opacity: 1;
}



nav a:hover {
	transition:0.2s all ease-in-out;
	border-bottom:2px solid white;	
	opacity: 1;
}

.logo {
	width: 19vh;
	margin-bottom: -13vh;
}
/* Header ends */

/* Index starts */
.index {
	text-align: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 10;
	background-image: url(../src/stickFighting.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.text {
	width: 100%;
}

.index h1 {
	font-size: 3em;
	color: white;
	text-shadow: 3px 3px #313131;
}

.index h2 {
	font-size: 6vw;
	color: white;
	text-shadow: 3px 3px #313131;
}

.buttondown {
	opacity: 1;
	-webkit-transition: all .5s ease-in 3s;
	transition: all .5s ease-in 3s;
	width: 5vw;
	z-index: 2;
	-webkit-animation: bounce 2s infinite 2s;
	animation: bounce 2s infinite 2s;
}

.scroll-down {
	margin: 40vh auto 0;
	position: absolute;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}


/* Index ends */

/* Wrapper starts */

#wrapperOne {
	min-height: 100vh;
	width: 85%;
	margin: 0 auto;
	clear: both;
}

#wrapperOne p{
	margin-top: 3vh;
}

.video {
	width: 35vw;
	height: 24vw;
	float: left;
	margin: 2vw 2vw 2vw 0;
}


.News {
	border-collapse: collapse;
	float: right;
	background-color: white;
	display: block;
	margin-right: -6%;
	max-width: 15%;
}

.News td {
	border: 1px solid black;
	padding: 3vh;
	text-align: left;
	overflow: auto;
	width: 100%;
}


.News th {
	border: 1px solid black;
	padding: 3vh;
	width: 100%;
	background-color: #3866B8;
	color: white;
}

.wrapper {
	height: 100%;
	width: 100%;
	padding-top: 4vh;
}

.wrapper p {
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 2vh;
}

.picture1Historie {
	height: 40vh;
	width: auto;
	margin-left: 10vw;
	margin-right: 4vw;
	margin-top: 4vh;
	margin-bottom: 4vh;
	float: left;
}

.picture2Historie {
	height: 40vh;
	width: auto;
	margin-left: 4vw;
	margin-right: 10vw;
	margin-top: 4vh;
	margin-bottom: 10vh;
	float: right;
}


.overskriftHistoire {
	margin: 4vh 10vh;
}

#calender {
	padding-top: 24vh;
}


/* Wrapper ends */

/* Footer starts*/
.footer {
	height: 15vh;
	width: 100%´;
	clear: both;
}

.footer p {
	padding: 20px;
	color:#DDDBDB;
}

.CTA  {
	text-align: center;
	width: 60%;
	margin: 2vh auto;
}

.CTA tr th {
	margin: 2vh;
}

/* Footer Ends*/
/* Wrapper ends */

@media screen and (orientation: portrait) {
	
	html {
		font-size: calc(1em + 1vh);
	}
	
	.header {
		width: 100vw;
	}
	
	.logo {
		display: none;
	}
	
	.nav a {
		display: list-item;
		list-style-type: none;
		font-size: 1em;		
	}
	
	.buttondown {
	width: 15vw;
	}

	.index {
		background-image: url(../src/portrait.jpg);
	}

	.News {
		margin-right: 2%;
		max-width: 60%;
	}

	#wrapperOne {
			width: 96%;
		}
	
	.video {
		width: 90vw;
		height: 60vw;
	}
	
	.footer {
		padding: 1vh;
		width: 100%;
	}

	.footer th {
		padding: 0.5vh;
	}
}