@charset "UTF-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: gainsboro;
	line-height: 1.6;
}



/* Login start */

.loginTable {
	margin: 30vh auto 0;
	width: 50vw;
	text-align: center;
	border: solid 1px black;
	
}

.successful {
	text-align: center;
	margin-top: 5vh;
}

/* Login end */

/* Navigation start */
.logo {
	width: 28%;
	margin: 3vh auto 0 36%;
}

.nav {
	position: fixed;
	width: 25vw;
	height: 100vh;
	float: left;
	left: 0;
	background-color:#31324E;
}

.nav ul {
	margin-top: 4vh;
	list-style-type: none;
}

.nav li {
	background-color:#8E8E8E;
	padding: 3vh 1vw;
	width: 70%;
	text-align: center;
	margin: 2vh auto 0;
	
}

.nav a {
	text-decoration: none;
	font-size: 20px;
	color: black;
}

#current {
	background-color: white;
}

/* Navigation end */

/* Wrapper start */
.wrapper {
	width: 71vw;
	float: right;
	background-color:white;
	margin: 2vw 2vw 2vw 0;
}

#wrapperMedlemmer {
	overflow-x: auto;
}

.wrapper p {
	margin: 2vh;
}

.wrapper h1 {
	margin: 2vh;
}

/* Kalender start */

.imgTimely {
	width: 50vw;
	height: auto;
	margin: 2vh;
}
/* Kalender end */


/* Medlemmer start */
.medlemmer {
	margin: 0 auto;
}

.tabellMedlemmer {
	border-collapse: collapse;
	background-color: white;
	display: block;
}

.tabellMedlemmer td {
	border: 1px solid black;
	padding: 1vh;
	text-align: center;
	overflow: auto;
}


.tabellMedlemmer th {
	border: 1px solid black;
	padding: 3vh;
	background-color: #31324E;
	color: white;
}
/* Medlemmer end */

/* Nytt medlem start */
.tablelDiv {
	width: 100%;
}

#nyttMedlemtableOne {
	float: left;
	padding: 3%;
	margin: 0 0 0 15%;
}
#nyttMedlemtableTwo {
	padding: 3%;
}
/* Nytt medlem end */
/* Wrapper end */
