@charset "UTF-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: gainsboro;
	line-height: 1.6;
}

.loginTable {
	margin: 30vh auto 0;
	width: 50vw;
	text-align: center;
	border: solid 1px black;
	
}

.successful {
	text-align: center;
	margin-top: 5vh;
}

.nav {
	position: fixed;
	width: 25vw;
	height: 100vh;
	float: left;
	left: 0;
	background-color:#31324E;
}

.nav ul {
	margin-top: 10vh;
	list-style-type: none;
}

.nav li {
	background-color:#8E8E8E;
	padding: 3vh 1vw;
	width: 70%;
	text-align: center;
	margin: 2vh auto 0;
	
}

.nav a {
	text-decoration: none;
	font-size: 20px;
	color: black;

}

.wrapper {
	width: 71vw;
	float: right;
	background-color:#8E8E8E;
	margin: 2vw 2vw 2vw 0;
}

.imgTimely {
	width: 20vw;
	margin: 5vh auto;
}
